/.gradle/
/.metadata/
/.settings/
/assets/
/bin/
/run/
/build/
/config/
/crash-reports/
/logs/
/mods/
/debug/
/resourcepacks/
/saves/
/.classpath
/.project
/options.txt
/screenshots
/*.txt
/*.log
/server.properties
/world
/usernamecache.json
/usercache.json
/asm
/eclipse/
*.launch
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
